body{
  font-size: 15px;
}


/*1 - Estilos de listas*/
.lista-pontos {
  list-style-type: square;
}

.lista-numerica {
  list-style-type: lower-roman;
}

.lista-imagem {
  list-style-type: none;
  list-style-image: url("img/circle.png");
}

/*2 - Unidades de medida */
.container {
  width: 80%;
  border: 1px solid blue;
  font-size: 10px;
}

.pixel-box {
  width: 200px;
  height: 100px;
  border: 2px solid red;
}

/* 1000px(html) -> 800px 80% => 400px 50%(percent-box)*/
.percent-box{
  width: 50%;
  height: 100px;
  border: 2px solid green;
}

/*2x o tamanho de font do elemento pai*/
/*em fonto controlada pelo elemento pai*/
.em-text {
  font-size: 2em;
}
 /* rem, fonte controlada pelo root elemento */
 .rem-text {
  font-size: 2rem;
 }

 /* Cenario real: px e rem */
 /* precisa conhecer todas, pq tem projeto antigo*/
 
 /* regras 2 tipos: especificos, medidas*/

 /* 3 - Pseudo class e pseudo elementos */
 /* pseudo class: seleciona um estado do elemento */
 /* pseudo elemento: seleciona um parte do elemento */


 .styled-list li:first-child{
  color: rgb(255, 0, 0);
 }
 
 .styled-list li:last-child{
  color: rgb(0, 0, 255);
 }

 .styled-list li::before{
  content: ">> ";
 }

 .hover-box {
  width: 200px;
  height: 100px;
  background-color: rgb(0, 0, 0);
  transition: 0.5s;
 }

 .hover-box:hover {
  background-color: rgb(255, 31, 206);
  transform: scale(1.1);
 }