body{
  font-size: 15px;
}


/*1 - Estilos de listas*/
.lista-pontos {
  list-style-type: square;
}

.lista-numerica {
  list-style-type: lower-roman;
}

.lista-imagem {
  list-style-type: none;
  list-style-image: url("img/circle.png");
}

/*2 - Unidades de medida */
.container {
  width: 80%;
  border: 1px solid blue;
  font-size: 10px;
}

.pixel-box {
  width: 200px;
  height: 100px;
  border: 2px solid red;
}

/* 1000px(html) -> 800px 80% => 400px 50%(percent-box)*/
.percent-box{
  width: 50%;
  height: 100px;
  border: 2px solid green;
}

/*2x o tamanho de font do elemento pai*/
/*em fonto controlada pelo elemento pai*/
.em-text {
  font-size: 2em;
}
 /* rem, fonte controlada pelo root elemento */
 .rem-text {
  font-size: 2rem;
 }

 /* Cenario real: px e rem */
 /* precisa conhecer todas, pq tem projeto antigo*/
 
 /* regras 2 tipos: especificos, medidas*/

 /* 3 - Pseudo class e pseudo elementos */
 /* pseudo class: seleciona um estado do elemento */
 /* pseudo elemento: seleciona um parte do elemento */


 .styled-list li:first-child{
  color: rgb(255, 0, 0);
 }
 
 .styled-list li:last-child{
  color: rgb(0, 0, 255);
 }

 .styled-list li::before{
  content: ">> ";
 }

 .hover-box {
  width: 200px;
  height: 100px;
  background-color: rgb(0, 0, 0);
  transition: 0.5s;
 }

 .hover-box:hover {
  background-color: rgb(255, 31, 206);
  transform: scale(1.1);
 }

 /*4 - Gradient = Degradê*/

 .linear-gradient-box,
 .radial-gradient-box,
 .multiple-gradients-box {
  height: 200px;
 }

 .linear-gradient-box {
  background-image: linear-gradient(to right, #123, #2345);
 }

 .radial-gradient-box{
  background-image: radial-gradient(circle, red, orange, yellow);
 }

 .multiple-gradients-box{
  background-image: linear-gradient(to left, rgba(70,200,155, .7),rgba(120,220,255, 0)), radial-gradient(circle at top, blue, blueviolet)
 }

 /* 5 - text shadow e box shadow */
 .box-shadow-example {
  width: 300px;
  height: 100px;
  background-color: rgb(173, 173, 173);
  box-shadow: 5px 6px 20px #000;
 }

 .text-shadow-example {
  font-size: 30px;
  color: #fff;
  background-color: rgb(255, 166, 0);
  text-shadow: 1px 2px 2px rgba(0,0,0);
 }

 .multiple-shadow-box {
  width: 300px;
  height: 100px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.3), -3px -3px 5px #e40909;
 }

 /*6 - x index */
 .z-index-box {
  position: relative;
  height: 300px;
 }

.box {
  width: 300px;
  height: 100px;
  position: absolute;
  border: 1px solid #000;
}

.background {
  top: 20px;
  left: 20px;
  z-index: 1;
  background-color: blue;  
}

.middle {
  top: 40px;
  left: 40px;
  z-index: 2;
  background-color: green;
}

.foreground {
  top: 60px;
  left: 60px;
  z-index: 3;
  background-color: red;
}

/*7 - Variáveis */
/* --palavra1-palavra: valor*/
:root {
  --main-color: #4ca;
  --padding-value: 10px;
  --text-color: #fff;
}

.content {
  padding: var(--padding-value);
}

.text {
  color: var(--text-color);
  background-color: var(--main-color);
  padding: var(--padding-value);
}

